<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Currency</th>
      <th scope="col">Price</th>
      <th scope="col">Stripe Product Id</th>
      <th scope="col">Stripe Price Id</th>
      <th scope="col">Sales count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.currency %></td>
        <td><%= product.price_cents %></td>
        <td><%= product.stripe_product_id %></td>
        <td><%= product.stripe_price_id %></td>
        <td><%= product.sales_count %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= button_to "Buy now!", checkout_create_path, remote: true, params: {id: product.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<hr>