<!DOCTYPE html>
<html>
  <head>
    <title>Eshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/javascript/application.js", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class="container">
  <%= link_to "Product", products_path %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <hr />
    <%= yield %>
  </body>
</html>
